<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Reset App Data</string>
			<key>Key</key>
			<string>RESET_APP_KEY</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>APP INFO</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>Version</string>
			<key>Key</key>
			<string>version_preference</string>
			<key>DefaultValue</key>
			<string>unknown</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>Build</string>
			<key>Key</key>
			<string>build_preference</string>
			<key>DefaultValue</key>
			<string>unknown</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>Copyright (c) 2020 Justin Kumpe</string>
			<key>DefaultValue</key>
			<string> </string>
			<key>Key</key>
			<string>copyright</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>CREDITS</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>Icons by Icons8</string>
			<key>Key</key>
			<string>icons8</string>
			<key>DefaultValue</key>
			<string>https://www.icons8.com</string>
		</dict>
        <dict>
            <key>Type</key>
            <string>PSTitleValueSpecifier</string>
            <key>Title</key>
            <string>Alamofire-SwiftyJSON</string>
            <key>Key</key>
            <string>alamofire</string>
            <key>DefaultValue</key>
            <string>https://github.com/SwiftyJSON/Alamofire-SwiftyJSON</string>
        </dict>
        <dict>
            <key>Type</key>
            <string>PSTitleValueSpecifier</string>
            <key>Title</key>
            <string>Toast-Swift</string>
            <key>Key</key>
            <string>toast</string>
            <key>DefaultValue</key>
            <string>https://github.com/scalessec/Toast-Swift</string>
        </dict>
        <dict>
            <key>Type</key>
            <string>PSTitleValueSpecifier</string>
            <key>Title</key>
            <string>SwiftyForm</string>
            <key>Key</key>
            <string>swiftyform</string>
            <key>DefaultValue</key>
            <string>https://github.com/neoneye/SwiftyFORM</string>
        </dict>
        <dict>
            <key>Type</key>
            <string>PSTitleValueSpecifier</string>
            <key>Title</key>
            <string>ReachabilitySwift</string>
            <key>Key</key>
            <string>reachabilityswift</string>
            <key>DefaultValue</key>
            <string>https://github.com/ashleymills/Reachability.swift</string>
        </dict>
        <dict>
            <key>Type</key>
            <string>PSTitleValueSpecifier</string>
            <key>Title</key>
            <string>SwiftMessages</string>
            <key>Key</key>
            <string>swiftmessages</string>
            <key>DefaultValue</key>
            <string>https://github.com/SwiftKickMobile/SwiftMessages</string>
        </dict>
        <dict>
            <key>Type</key>
            <string>PSTitleValueSpecifier</string>
            <key>Title</key>
            <string>Sync</string>
            <key>Key</key>
            <string>sync</string>
            <key>DefaultValue</key>
            <string>https://github.com/3lvis/Sync</string>
        </dict>
        <dict>
            <key>Type</key>
            <string>PSTitleValueSpecifier</string>
            <key>Title</key>
            <string>Smile</string>
            <key>Key</key>
            <string>smile</string>
            <key>DefaultValue</key>
            <string>https://github.com/onmyway133/Smile</string>
        </dict>
        <dict>
            <key>Type</key>
            <string>PSTitleValueSpecifier</string>
            <key>Title</key>
            <string>CollectionViewCenteredFlowLayout</string>
            <key>Key</key>
            <string>collectionviewcenteredflowlayout</string>
            <key>DefaultValue</key>
            <string>https://github.com/Coeur/CollectionViewCenteredFlowLayout</string>
        </dict>
        <dict>
            <key>Type</key>
            <string>PSTitleValueSpecifier</string>
            <key>Title</key>
            <string>Haptico</string>
            <key>Key</key>
            <string>haptico</string>
            <key>DefaultValue</key>
            <string>https://github.com/iSapozhnik/Haptico</string>
        </dict>
        <dict>
            <key>Type</key>
            <string>PSTitleValueSpecifier</string>
            <key>Title</key>
            <string>PrivacyKit</string>
            <key>Key</key>
            <string>privacykit</string>
            <key>DefaultValue</key>
            <string>https://github.com/ithazfire/PrivacyKit</string>
        </dict>
	</array>
</dict>
</plist>
